body {
    background-color: rgb(241, 220, 241);
    color: darkmagenta;
    font-family: "Caveat", cursive;
}

a {
    color: darkblue;
}

main {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    
}

h1{
    font-size: 150px;
    font-weight: 900;
    line-height: 90%;
    letter-spacing: -3px;
    padding: 16px
}
h2{
    background-color: rgb(158, 233, 236);
    border-radius: 16px;
    color: rgb(16, 117, 120);
    padding: 16px
}

.intro {
    color: chocolate;
}